.layout-slideshow{
    background: url(../img/banner.png);
}
.slideshow-submenu {
    top:10px;
    right: 0;
    text-align: right;
}
.slideshow-submenu a{
    margin-left: 20px;
    color: white;
}

.slideshow-body {
    top: 292px;
    left: 260px;
    width: 400px;
}
.slideshow-body h2{
    color: aqua;
    margin-bottom: 0;
}
.slideshow-body p{
    margin-top:10px;
}
.slideshow-body span{
    color: purple;
}

.slideshow-menu {
    top:320px;
    right:20px
}

.m-list-item-text{
    background: #000;
    color: white;
}
.m-list-item-text>div{
    display: inline;
}

.m-body{
    background: darkgrey;
    color: white;
}
.m-body-award{
    background: black;
    padding: 5px;
}
.m-body-title h2{
    margin: 5px 0;
}
.m-body-img1 img{
    width: 180px;
}
.m-body-img2 img{
    width: 180px;
}
.m-body-btn img{
    width: 180px;
}

.main-body{
    display: none;
}