body{
    background: #ccc;
}
#container_pc,#container_m{
    background: #fff;
}

*{
  font-family: 'SourceHanSans','PingFang TC','Heiti TC','Microsoft JhengHei',San-serif;  
}

.layout-slideshow-pc{
    background: url(../img/kv_pc.png) no-repeat 0 0;
}
.layout-slideshow-m{
    background: url(../img/kv_m.png) no-repeat 0 0;
}
.slideshow-submenu {
    top:10px;
    right: 0;
    text-align: right;
}
.slideshow-submenu a{
    margin-right: 20px;
    color: white;
    font-size: 15px;
}
.slideshow-body h2{
    color: #23ACDD;
    margin-bottom: 0;
    font-size: 20px;
}
.slideshow-body p{
    margin-top:10px;
    font-size: 16px;
    line-height: 1.2em;
}
.slideshow-body span{
    color: #C74E95;
}


.m-list{
    background: #E8E8E9;
}
.slick-arrow.slick-prev:before,.slick-arrow.slick-next:before{
    width: 20px;
    height: 23px;
    display: block;
    background-repeat: no-repeat;
}
.slick-arrow.slick-prev:before{
    content: "";
    background-image: url("../img/arrow_prev.png");
}
.slick-arrow.slick-next:before{
    content: "";
    background-image: url("../img/arrow_next.png");
}

.m-list-item-text{
    background: rgba(0,0,0,0.7);
    color: white;
    height: 50px;
}
.m-list-item-text:before,
.m-list-item-text:after{
    content: " ";
    width: 30px;
    height: 50px;
    display: block;
    position: absolute;
    
}
.m-list-item-text:before{
    background: url(../img/goldleaf-left.png) no-repeat 0 0;
    left: 0;
}
.m-list-item-text:after{
    background: url(../img/goldleaf-right.png) no-repeat 0 0;
    right: 0;
}
.m-list-item-text>div{
    display: inline;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 24px;
}
.mlit-award{
    bottom: 24px;
}
#container_m .mlit-award{
    font-size: 12px;
}
.mlit-title{
    bottom: 2px;

}
.m-list-item-template-pc,.m-list-item-template-m{
    display: none;
}
.slick-slider.m-list-inner{
    margin-bottom:0 ;
}
.m-body{
    background: darkgrey;
    color: white;
    background: url(../img/bg_m.png) repeat-x 0 0 ;
}
.m-body-template-pc,.m-body-template-m{
    display: none;
}
.m-body-award{
    background: #595757;
    padding: 5px 10px;
}
.m-body-award:before,.m-body-award:after{
    content: " ";
    width: 15px;
    height: 15px;
    display: block;
    padding: 0 10px;
}
.m-body-award:before{
    background: url(../img/goldleaf-inverse.png) no-repeat 50% 0;
    float: left;
}
.m-body-award:after{
    background: url(../img/goldleaf.png) no-repeat 50% 0;
    float: right;
}
.m-body-title h2{
    margin: 5px 0;
    font-size: 26px;
    color: #FFE800;
}
.m-body-img1 img{
    height: 100%;
}
.m-body-img2 img{
    height: 100%;
}
.m-body-btn img{
    width: 180px;
}
#container_m .m-body-btn img{
    width: 160px;
}
.m-body-body{
    font-size: 15px;
    line-height: 1.3em;
}
.mlit-award{
    font-size: 15px;
}
.mlit-title{
    font-size: 13px;
}

.focus-title{
    text-align: center;
    font-size: 26px;
    padding: 10px;
    color: #C74E95;
}

.tip-title{
    background: #C74D95;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.tip-body{
    display: block;
    overflow: hidden;
    background: #D5D6D6;
    height: auto;
    padding: 0 50px;
}
.tip-body a{
    color: grey;
    text-decoration: underline;
}
.tip-body-open{
    max-height: 999px;
    padding: 30px 50px ;
}
.m-tip ol li{
    list-style:decimal;
    line-height: 1.5em;
}